* {
    box-sizing:border-box;
    text-align:center;
}

body {
    font-size: 20px;
    line-height: 30px;
    color: #000; 
}

header{
    padding: 1%;
    width: 25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    background-color: #6fc;
}

#bio-image{
    height: 300px;
    float: left;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    background-color: #333;
}