* {
    box-sizing:border-box;
    text-align:center;
}

body {
    font-size: 20px;
    line-height: 30px;
    color: #000; 
}

header{
    padding: 1px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    background-color: #6fc;
}

footer{
    padding: 1px;
    font-size: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    background-color: #333;
    Float: bottom;
}